[Desktop Entry]
Version=1.3
Type=Application
Name=Quail System
Exec=/usr/bin/quail-system
Icon=org.xfce.panel.systemload
Terminal=false
Categories=BcalcOS;
