[Desktop Entry]
Version=1.3
Type=Application
Name=Quail Converter
Exec=/usr/bin/quail-converter
Icon=org.xfce.panel.netload
Terminal=false
Categories=BcalcOS;
